page-anime-main {
    /*-=========================== social-list  ==================================-*/
    .alert-sub-title {
        height: 400px !important;
        overflow-y: scroll !important;
    }
    .alert-head {
        height: 500px !important;
    }
}